<div class="content-center hidden-xs">
    <!--<div class="intro clearfix">-->
    <!--<h2>{{i18n 'Soshace - venue of enthusiastic people.'}}</h2>-->

    <!--<p>{{{i18n "<a class='js-router-link' href='/{{locale}}/posts/new'><strong>Write</strong></a> your article, story, review or poem." locale}}}</p>-->
    <!--&lt;!&ndash;TODO: функциональность пока не реализована&ndash;&gt;-->
    <!--&lt;!&ndash;<p>{{{i18n "<strong>Earn money</strong> for unique views, likes and reposts."}}}</p>&ndash;&gt;-->
    <!--<p>{{{i18n "You only need <a class='js-router-link' href='/{{locale}}/registration'><strong>to register</strong></a>." locale}}}</p>-->
    <!--</div>-->

    <!--<div class="intro clearfix">-->
        <!--<h2>{{i18n 'Soshace - venue of enthusiastic people.'}}</h2>-->
        <!--&lt;!&ndash;Место встречи увлеченных людей&ndash;&gt;-->
        <!--<p>{{{i18n "What is your favorite business or activity? Why do you love to do it?" locale}}}</p>-->
        <!--<p>{{{i18n "We love success stories and stories of failures." locale}}}</p>-->
        <!--<p>{{{i18n "<a class='js-router-link' href='/{{locale}}/posts/new'><strong>Share</strong></a> your <strong>story</strong> with the world!." locale}}}</p>-->
    <!--</div>-->

    <div class="intro clearfix">
        <h2>{{i18n 'Social business blog.'}}</h2>
        <!--Место встречи увлеченных людей-->
        <p>{{{i18n "<a class='js-router-link' href='/{{locale}}/posts/new'>Share</a> your experience with community of professionals." locale}}}</p>
        <p>{{{i18n "<a class='js-router-link' href='/{{locale}}/registration'>Start</a> your own business with us!" locale}}}</p>
    </div>



</div>